/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1E1832;
    color: #000000;
}

#name-input {
    margin-bottom: 15px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 1px;
    border: 1px transparent;
    text-align: left;
} 

#best-time {
    margin-bottom: 15px;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #ffffff;
    border: 1px transparent;
    border-radius: 1px;
    text-align: left;
}

#game-stats {
    display: flex;
    flex-direction: column;
}

.game-container {
    text-align:left;
}

h1 {
    font-family: "Tourney", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #D9FF9C;
}

#timer {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: black;
    padding: 0.5rem;
    margin-bottom: 15px;
}

/* Modal Overlay */
.modal {
    display: none; 
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

/* Modal Box */
.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 4px;
    width: 300px;
    text-align: center;
    color: #1E1832;
}

/* Close Button */
.close {
    color: #1E1832;
    float: right;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #8515B7;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    width: 400px;
    margin: 0 auto 20px;
}

.card {
    position: relative;
    width: 100%;
    height: 100px;
    perspective: 1000px;
    /* Adds a 3D effect for flipping. */
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 6px solid #FBD9B3;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

/* Card Front: Trump Card*/

.card-front {
    background-color: #FDADBA;
    color: #ffffff;
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}

.card-back {
    background-color: #ffffff;
    color: #000;
    transform: rotateY(180deg);
}

.card.selected .card-front,
.card.selected .card-back {
    border-color: #ffffff;
}

#status {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

#reset-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #D9FF9C;
    color: #1E1832;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset-btn:hover {
    background-color: #78FDAE;
}

/* Media Query */

@media (min-width: 600px) {
    #game-board {
    gap: 1rem;
    }

    .game-container {
    text-align:center;
    }

    #best-time, #name-input {
    text-align: center;
    }
}
