html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* general style */

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    background-color: #E5E6DD;
}

h1 {
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    padding: 0.5rem;
}

input, button {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 12px;
    background-color: #ffffff;
}

/* add container style */

#add-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

#todo-input {
    flex: 1;
    border-color: #ffffff;
}

#add-button {
    padding:0.5rem 1rem;
    border-color: #F799BE;
    background-color: #F799BE;
}

/* view button container */

#view-button-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.view-button {
    flex: 1;
    border-radius: 12px;
    border-color: #87CDFE;
    background-color: #87CDFE;
}

/* to do list */

main {
    padding: 1rem;
}

ul {
    background-color: #FADC1A;
    border-radius: 12px;
}

li {
    display: block;
    width: 100%;
    padding: 1rem;
}

/* card view */

.card-view {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.card-view li {
    background-color: #FFF4AE;
    border-radius: 12px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* list view */

.list-view {
    padding: 1rem 1rem 1rem 2.2rem;
    margin-bottom: 1rem;
}

.list-view li {
    display: list-item;
}

/* buttons */

/* general button rules */

button:hover {
    cursor: pointer;
}

/* view buttons */
.view-button:hover {
    background-color: #5FB772;
    border-color: #00801C;
}