html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* general style */

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
}

h1 {
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    padding: 0.5rem;
}

input, button {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 6px;
    background-color: #ffffff;
}

/* add container style */

#add-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

#todo-input, #color-picker, #add-button {
  border-color: grey;
}

#todo-input {
    flex: 1;
}

#add-button {
    padding:0.5rem 1rem;
}

#color-picker {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

/* view button container */

#view-button-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.view-button {
    flex: 1;
    border-radius: 12px;
    border-color: #87CDFE;
    background-color: #87CDFE;
}

/* to do list */

main {
    padding: 1rem;
}

ul {
    /* min-height: 50dvh; */
    background-color: #FFFFFF;
    border-radius: 12px;
    gap: 1rem;
    /* min-height: 100vh; */
    height: fit-content;
    flex-grow: 1;
    width: 100%;
}

li {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #FFF4AE;
    border-radius: 12px;
}

li:last-child {
    margin-bottom: 0;
}


/* card view */

ul.card-view {
  display: flex; 
  /* make the UL a flex container */
  flex-wrap: wrap;
  /* allow wrapping to next row */
  gap: 1rem;
  /* 1px gap between cards horizontally & vertically */
  padding: 1rem;
  /* optional: a 1px inset so outer edges match the gap */
  align-items: flex-start;
}

.card-view li {
  display: flex;
  /* keep your inner flex alignment */
  justify-content: center;
  align-items: center;
  /* Even split: two per row accounting for the single 1px gap */
  flex: 0 1 calc((100% - 1rem) / 2);
  /* Remove list-view spacing so the gap controls spacing instead */
  /* Keep your existing padding/border-radius/background from the base li rule */
  margin: 0px;
  /* max-height: 25vh; */
  /* min-height: fit-content; */
}

/* list view */

.list-view {
    padding: 1rem;
}

.list-view li {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

/* buttons */

/* general button rules */

button:hover {
    cursor: pointer;
}

/* view buttons */

.view-button:hover {
    background-color: #448CDF;
}

.view-button:active {
    background-color: #448CDF;
    border-color: #448CDF;
}

/* add button */

#add-button:hover{
    background-color: lightgrey;
}

#add-button:active {
    background-color: #F26B8D;
    border-color: #F26B8D;
}



@media (max-width: 600px) {
  .card-view li {
    flex-basis: 100%;
  }
}
