html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: regular;
    padding: 0.5rem;
}

p {
    font-size: 1rem;
    padding: 0.5rem;
}

body {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* the body is a flex element */
    height: 100vh;
}

/* main style */

main {
    padding: 1rem;
    background-color: #FDFFF1;
    flex-grow: 1;
    /* to make the main section take up all available space */
    margin: 0, 1rem;
}

/* header styles */

header {
    padding: 1rem;
}

input, button {
    border: 0.5px solid #E5E6DD;
    border-radius: 1rem;
    padding: 0rem 0.5rem;
    height: 2rem;
}

#form-input {
    width: 100%;
    display: flex;
    /* to adjust how the elements inside the input form will show */
    gap: 0.2rem;
    /* to add space between the elements inside the input form */;
    margin-bottom: 1rem;
}

#input-todo {
    flex-grow: 1;
    /* to make the input field take up all available space */
}

/* list item styles */

li {
    list-style-type: none;
}

/* list view */

ul.list li {
    padding: 1rem 0;
    border-bottom: 1px solid #F799BE;
    display: flex;
    gap: 1rem;
    /* to add space between the elements inside each list item */
    align-items: center;
    /* to vertically align the elements inside each list item */
}

ul.list li:first-child {
    padding-top: 0;
    /* this will just be applied to the forst list item */
}

ul.list li p {
    flex-grow: 1;
    /* to make the paragraph take up all available space */
}

/* card view */

ul.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* to distribute the cards evenly */
    gap: 0.6rem;
    /* to add space between the cards */
}

ul.card li {
    padding: 1rem;
    background-color: #87CDFE;
    width: calc(100% / 3 - 0.4rem);
    /* to make the cards take up 1/3 of the available space minus the gap */
    overflow: hidden;
}
