/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
    color: #333;
}

.game-container {
    text-align:center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 400px;
    margin: 0 auto 20px;
}

.card {
    position: relative;
    width: 100%;
    height: 100px;
    perspective: 1000px;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

/* Card Front: Trump Card*/

.card-front {
    background-color: #2c3e50;
    color: #ecf0f1;
    background-image: linear-gradient(135deg, #34495e 25%, transparent 25%), linear-gradient(225deg, #34495e, 25%, transparent 25%), linear-gradient(45deg, #34495e, 25%, transparent 25%), linear-gradient(315deg, #34495e, 25%, #2c3e50 25%);
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
    border: 2px solid #ecf0f1;
}

